<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>smartalb.vpn</vendor>
  <action id="org.omarchy.smartalbvpn.import">
    <description>Install or remove a VPN configuration</description>
    <message>Authentication is required to write a VPN configuration file into /etc, or to delete one from there. A configuration stored in /etc is later run by systemd as root, so whoever can write it decides what runs with system privileges.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/omarchy-vpn-import</annotate>
  </action>
</policyconfig>
